/* #header{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 79px;
color: #373A3C;
}
#header1{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
color: #373A3C;
}
#x{
   
width: 86px;
height: 38px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 4px;
} */
