#header{width: 672px;
height: 79px;
left: 164px;
top: 100px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 79px;
color: #373A3C;
}
#ulist{
    list-style: none;
    font-size: 20px;
}
.line li{
    border-bottom: black solid 1px;
}
#res{
    width: 182px;
height: 72px;
left: 164px;
top: 347px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 72px;
display: flex;
align-items: flex-end;

color: #373A3C;
}
#fibio{
width: 189px;
height: 24px;
left: 169px;
top: 236px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

display: flex;
align-items: flex-end;

color: #373A3C;

}
